@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #0f1825;
  padding: 0.5rem 1rem;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__brand {
  font-size: 1.5rem;
}

.main-header__brand img {
  height: 4rem;
}

.main-navbar__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-navbar__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navbar__item {
  margin: 0 1rem;
}

.main-navbar__item a {
  text-decoration: none;
  color: white;
  padding: 3px 0;
}

.main-navbar__item a:hover,
.main-navbar__item a:active {
  color: white;
  border-bottom: 5px solid white;
}


.center {
  margin-top: 7rem;
  width: 50%;
  border: 1px solid green;
  padding: 10px;
}

.form-div {
  margin: 5%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar-links {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-div {
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.create-advance-button {
  margin-left: 500px;
}

/* .dashboard-table-headings {
  display: flex;
  justify-content: space-between;
} */

.dashboard-table {
  display: flex;
  flex-direction: column;
}

.table-headings-container {
  display: flex;
  justify-content: space-evenly;
}

.table-values {
  display: flex;
  justify-content: space-around;
}