body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  margin: auto;
  width: 50%;
  border: 1px solid green;
  padding: 10px;
}

.form-div {
  margin: 5%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar-links {
  display: flex;
  justify-content: space-evenly;
}

.dashboard-div {
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.create-advance-button {
  margin-left: 500px;
}

/* .dashboard-table-headings {
  display: flex;
  justify-content: space-between;
} */

.dashboard-table {
  display: flex;
  flex-direction: column;
}

.table-headings-container {
  display: flex;
  justify-content: space-evenly;
}

.table-values {
  display: flex;
  justify-content: space-around;
}